<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/example_post.js"></script>
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">
        Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable Javascript and reload this page!
    </h2>
</noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-4">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">What is table name?</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name here...">
                </div>
                <div class="form-group">
                    <label for="avatar">Avatar link</label>
                    <input type="file" id="avatar" class="form-control" placeholder="link">
                </div>
                <div class="form-group">
                    <label for="width">Width</label>
                    <input type="number" id="width" class="form-control" placeholder="width">
                </div>
                <div class="form-group">
                    <label for="height">Height</label>
                    <input type="number" id="height" class="form-control" placeholder="height">
                </div>
                <button id="send_table" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
        <div class="col-md-4">
            <form class="form-inline">
                <div class="form-group">
                    <label for="includeChats">Do you want to include chats?</label>
                    <input type="text" id="includeChats" class="form-control" placeholder="true/false">
                </div>
                <button id="send_info" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
        <div class="col-md-4">
            <form class="form-inline">
                <div class="form-group">
                    <label for="userId">What person do you want to add?</label>
                    <input type="text" id="userId" class="form-control" placeholder="id...">
                </div>
                <div class="form-group">
                    <label for="chatId">What chat do you want it to add to?</label>
                    <input type="text" id="chatId" class="form-control" placeholder="id...">
                </div>
                <button id="send_request_add_person" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
        <div class="col-md-4">
            <form class="form-inline">
                <div class="form-group">
                    <label for="userIdRights">What chat?</label>
                    <input type="text" id="chatIdRights" class="form-control" placeholder="id...">
                </div>
                <div class="form-group">
                    <label for="userIdRights">What person?</label>
                    <input type="text" id="userIdRights" class="form-control" placeholder="id...">
                </div>
                <div class="form-group">
                    <label for="rights">What rights?</label>
                    <input type="text" id="rights" class="form-control" placeholder="id...">
                </div>
                <button id="send_request_change_rights" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
        <div class="col-md-4">
            <form class="form-inline">
                <div class="form-group">
                    <label for="chatMessagingId">Chat id</label>
                    <input type="number" id="chatMessagingId" class="form-control" placeholder="chatid...">
                </div>
                <div class="form-group">
                    <label for="xCoordLeftTop">X left top</label>
                    <input type="number" id="xCoordLeftTop" class="form-control" placeholder="x...">
                </div>
                <div class="form-group">
                    <label for="yCoordLeftTop">Y left top</label>
                    <input type="number" id="yCoordLeftTop" class="form-control" placeholder="y...">
                </div>
                <div class="form-group">
                    <label for="xCoordRightBottom">X right bottom</label>
                    <input type="number" id="xCoordRightBottom" class="form-control" placeholder="x...">
                </div>
                <div class="form-group">
                    <label for="yCoordRightBottom">Y right bottom</label>
                    <input type="number" id="yCoordRightBottom" class="form-control" placeholder="y...">
                </div>
                <button id="send_request_messages" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Received html responses</th>
                </tr>
                </thead>
                <tbody id="responses">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>